# Functions
## Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.

In [2]:
def sort_hyphen_string(string):
    return "-".join(sorted(string.split("-")))

In [3]:
sort_hyphen_string("green-red-yellow-black-white")

'black-green-red-white-yellow'

## Write a  Python function to multiply all the numbers in a list.

In [7]:
def mul_lst(lst):
    total = 1
    for n in lst:
        total *= n
    return total

In [8]:
mul_lst((8, 2, 3, -1, 7))

-336

# Lambda Function
## Write a Python program to sort a list of tuples using Lambda.

In [11]:
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
sorted(subject_marks, key=lambda x : x[1])

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [12]:
sorted(subject_marks, key=lambda x : x[1], reverse=True)

[('Maths', 97), ('Science', 90), ('English', 88), ('Social sciences', 82)]

In [14]:
r = lambda x, y, z: x*y*z

In [15]:
r(3,6,9)

162

## Write a Python program to find the second lowest total marks of any student(s) from the given names and marks of each student using lists and lambda. Input the number of students, the names and grades of each student.

In [17]:
names_grade = [['S ROY', 1.0], ['B BOSE', 3.0], ['N KAR', 2.0], ['C DUTTA', 1.0], ['G GHOSH', 1.0]]

In [22]:
names_grade = sorted(names_grade, key=lambda x: x[1])

In [24]:
print(f"Lowest Grade: {names_grade[1][1]}")
print(f"Lowest Grade Student Name: {names_grade[1][0]}")

Lowest Grade: 1.0
Lowest Grade Student Name: C DUTTA

# Map 
## Write a  Python program to listify the list of given strings individually using Python map.

In [26]:
color = ['Red', 'Blue', 'Black', 'White', 'Pink']
list(map(list, color))

[['R', 'e', 'd'],
 ['B', 'l', 'u', 'e'],
 ['B', 'l', 'a', 'c', 'k'],
 ['W', 'h', 'i', 't', 'e'],
 ['P', 'i', 'n', 'k']]

## Write a  Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function.

In [31]:
chars = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}
def change_char(char):
    return str(char).lower(), str(char).upper()
list(map(change_char, chars))

[('i', 'I'),
 ('u', 'U'),
 ('o', 'O'),
 ('e', 'E'),
 ('a', 'A'),
 ('f', 'F'),
 ('b', 'B')]

In [33]:
list(map(lambda char: (char.upper(), char.lower()), chars))

[('I', 'i'),
 ('U', 'u'),
 ('O', 'o'),
 ('E', 'e'),
 ('A', 'a'),
 ('F', 'f'),
 ('B', 'b')]

## Write a  Python program to compute the square of the first N Fibonacci numbers, using the map function and generate a list of the numbers.

In [44]:
def fibonacci(n):
    num = [0]
    x = 0
    y = 1
    for i in range(n-1):
        num.append(y)
        x, y = y, x+y
    return num

In [45]:
list(map(lambda x: x**2, fibonacci(10)))

[0, 1, 1, 4, 9, 25, 64, 169, 441, 1156]

# Itertools
## Write a  Python program to create an iterator that returns consecutive keys and groups from an iterable.

In [49]:
import itertools
str1 = 'AAAAJJJJHHHHNWWWEERRRSSSOOIIU'
for key, group in itertools.groupby(str1):
    print(key,list(group))

A ['A', 'A', 'A', 'A']
J ['J', 'J', 'J', 'J']
H ['H', 'H', 'H', 'H']
N ['N']
W ['W', 'W', 'W']
E ['E', 'E']
R ['R', 'R', 'R']
S ['S', 'S', 'S']
O ['O', 'O']
I ['I', 'I']
U ['U']

## Write a  Python program to generate all possible permutations of n different objects.

In [50]:
lst = [1, 2, 3]
for val in itertools.permutations(lst):
    print(val)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

In [51]:
lst = [1, 2, 3, 4, 5]
for val in itertools.permutations(lst):
    print(val)

(1, 2, 3, 4, 5)
(1, 2, 3, 5, 4)
(1, 2, 4, 3, 5)
(1, 2, 4, 5, 3)
(1, 2, 5, 3, 4)
(1, 2, 5, 4, 3)
(1, 3, 2, 4, 5)
(1, 3, 2, 5, 4)
(1, 3, 4, 2, 5)
(1, 3, 4, 5, 2)
(1, 3, 5, 2, 4)
(1, 3, 5, 4, 2)
(1, 4, 2, 3, 5)
(1, 4, 2, 5, 3)
(1, 4, 3, 2, 5)
(1, 4, 3, 5, 2)
(1, 4, 5, 2, 3)
(1, 4, 5, 3, 2)
(1, 5, 2, 3, 4)
(1, 5, 2, 4, 3)
(1, 5, 3, 2, 4)
(1, 5, 3, 4, 2)
(1, 5, 4, 2, 3)
(1, 5, 4, 3, 2)
(2, 1, 3, 4, 5)
(2, 1, 3, 5, 4)
(2, 1, 4, 3, 5)
(2, 1, 4, 5, 3)
(2, 1, 5, 3, 4)
(2, 1, 5, 4, 3)
(2, 3, 1, 4, 5)
(2, 3, 1, 5, 4)
(2, 3, 4, 1, 5)
(2, 3, 4, 5, 1)
(2, 3, 5, 1, 4)
(2, 3, 5, 4, 1)
(2, 4, 1, 3, 5)
(2, 4, 1, 5, 3)
(2, 4, 3, 1, 5)
(2, 4, 3, 5, 1)
(2, 4, 5, 1, 3)
(2, 4, 5, 3, 1)
(2, 5, 1, 3, 4)
(2, 5, 1, 4, 3)
(2, 5, 3, 1, 4)
(2, 5, 3, 4, 1)
(2, 5, 4, 1, 3)
(2, 5, 4, 3, 1)
(3, 1, 2, 4, 5)
(3, 1, 2, 5, 4)
(3, 1, 4, 2, 5)
(3, 1, 4, 5, 2)
(3, 1, 5, 2, 4)
(3, 1, 5, 4, 2)
(3, 2, 1, 4, 5)
(3, 2, 1, 5, 4)
(3, 2, 4, 1, 5)
(3, 2, 4, 5, 1)
(3, 2, 5, 1, 4)
(3, 2, 5, 4, 1)
(3, 4, 1, 2, 5)
(3, 4, 1, 5, 2)
(3, 4, 2, 1, 5)
(3, 4, 2, 5, 1)
(3, 4, 5, 1, 2)
(3, 4, 5, 2, 1)
(3, 5, 1, 2, 4)
(3, 5, 1, 4, 2)
(3, 5, 2, 1, 4)
(3, 5, 2, 4, 1)
(3, 5, 4, 1, 2)
(3, 5, 4, 2, 1)
(4, 1, 2, 3, 5)
(4, 1, 2, 5, 3)
(4, 1, 3, 2, 5)
(4, 1, 3, 5, 2)
(4, 1, 5, 2, 3)
(4, 1, 5, 3, 2)
(4, 2, 1, 3, 5)
(4, 2, 1, 5, 3)
(4, 2, 3, 1, 5)
(4, 2, 3, 5, 1)
(4, 2, 5, 1, 3)
(4, 2, 5, 3, 1)
(4, 3, 1, 2, 5)
(4, 3, 1, 5, 2)
(4, 3, 2, 1, 5)
(4, 3, 2, 5, 1)
(4, 3, 5, 1, 2)
(4, 3, 5, 2, 1)
(4, 5, 1, 2, 3)
(4, 5, 1, 3, 2)
(4, 5, 2, 1, 3)
(4, 5, 2, 3, 1)
(4, 5, 3, 1, 2)
(4, 5, 3, 2, 1)
(5, 1, 2, 3, 4)
(5, 1, 2, 4, 3)
(5, 1, 3, 2, 4)
(5, 1, 3, 4, 2)
(5, 1, 4, 2, 3)
(5, 1, 4, 3, 2)
(5, 2, 1, 3, 4)
(5, 2, 1, 4, 3)
(5, 2, 3, 1, 4)
(5, 2, 3, 4, 1)
(5, 2, 4, 1, 3)
(5, 2, 4, 3, 1)
(5, 3, 1, 2, 4)
(5, 3, 1, 4, 2)
(5, 3, 2, 1, 4)
(5, 3, 2, 4, 1)
(5, 3, 4, 1, 2)
(5, 3, 4, 2, 1)
(5, 4, 1, 2, 3)
(5, 4, 1, 3, 2)
(5, 4, 2, 1, 3)
(5, 4, 2, 3, 1)
(5, 4, 3, 1, 2)
(5, 4, 3, 2, 1)

## Write a  Python program to find the years between 2000 and 2150 when the 25th of December is a Sunday.

In [61]:
from datetime import date
from itertools import islice

def xmasIsSunday(y):
    return 6 == date(y, 12, 25).weekday()
 
xs = list(map(
    xmasIsSunday,
    enumFromTo(2000)(2150)
))
print(xs)
print(len(xs))

[False, False, False, False, False, True, False, False, False, False, False, True, False, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, True, False, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, True, False, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, True, False, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, True, False, False, False, False, True, False, False, False, False, False, True, False, False, False, False]
151

In [62]:
from datetime import date
from itertools import islice

def xmasIsSunday(y):
    return 6 == date(y, 12, 25).weekday()
 
xs = list(filter(
    xmasIsSunday,
    enumFromTo(2000)(2150)
))
print(xs)
print(len(xs))

[2005, 2011, 2016, 2022, 2033, 2039, 2044, 2050, 2061, 2067, 2072, 2078, 2089, 2095, 2101, 2107, 2112, 2118, 2129, 2135, 2140, 2146]
22

# Filter Function
## Write a  Python function that filters out all empty strings from a list of strings using the filter function.

In [64]:
strings = ["", "Pratik", "Filter", "", "Python", ""]
list(filter(lambda s: s.strip() != "", strings))

['Pratik', 'Filter', 'Python']

## Write a  Python function that filters out elements from a list of strings containing a specific substring using the filter function.

In [65]:
strings = ["Red", "Green", "Orange", "White", "Black", "Pink", "Yellow"]
sub = "e"
list(filter(lambda s : sub in s, strings ))

['Red', 'Green', 'Orange', 'White', 'Yellow']