# Replace missing values in a  Pandas DataFrame with the mean of the column.

In [4]:
import pandas as pd
import numpy as np

data = {'A': [1, 2, np.nan, 4, 5],
        'B': [10, np.nan, 30, 40, 50],
        'C': [100, 200, 300, np.nan, 500],
        'D': [1000, 2000, 3000, 4000, np.nan]}

df = pd.DataFrame(data)

df_filled = df.fillna(df.mean())

df_filled

     A     B      C       D
0  1.0  10.0  100.0  1000.0
1  2.0  32.5  200.0  2000.0
2  3.0  30.0  300.0  3000.0
3  4.0  40.0  275.0  4000.0
4  5.0  50.0  500.0  2500.0

In [5]:
df

     A     B      C       D
0  1.0  10.0  100.0  1000.0
1  2.0   NaN  200.0  2000.0
2  NaN  30.0  300.0  3000.0
3  4.0  40.0    NaN  4000.0
4  5.0  50.0  500.0     NaN

# GroupBy and Handling Missing data:
# Write a Pandas program to handle missing data in GroupBy operations to ensure accurate and reliable data analysis.

In [6]:
import pandas as pd

# Sample DataFrame with missing values
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [10, None, 30, 40, None, 60]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
df
      
# Fill missing values with 0 and then group by 'Category' and sum
print("\nFill missing values with 0 and then group by 'Category' and sum:")
grouped = df.fillna(0).groupby('Category').sum()

grouped

Sample DataFrame:
  Category  Value
0        A   10.0
1        A    NaN
2        B   30.0
3        B   40.0
4        C    NaN
5        C   60.0

Fill missing values with 0 and then group by 'Category' and sum:
          Value
Category
A          10.0
B          70.0
C          60.0