In [1]:
import pandas as pd
import numpy as np

In [4]:
np.mean(num_series)

9.9852785804776

In [6]:
np.median(num_series)

10.233537051661546

In [7]:
num_series.describe()

count    20.000000
mean      9.985279
std       3.145584
min       3.000938
25%       8.094639
50%      10.233537
75%      12.215377
max      14.612143
dtype: float64

In [8]:
name = "Pratik"
print(id(name))

1837030265872

In [9]:
name = "Crest"
print(id(name))

1837030262128

In [13]:
def square(x):
    return x ** 2

# can apply custom function to each element of series
squared_series = num_series.apply(square)
print(squared_series)

0       9.005630
1     129.293310
2     213.514729
3      80.824700
4     193.913511
5     145.368244
6     118.477101
7      32.716417
8      85.414872
9     121.440527
10     66.714461
11    137.842955
12     58.761727
13    176.023592
14    161.058517
15     91.821536
16     62.013711
17    199.344205
18     68.020555
19     30.544711
dtype: float64

In [14]:
series = pd.Series([10, None, 30, None, 50])

print(series.isnull())

0    False
1     True
2    False
3     True
4    False
dtype: bool

# Write a  Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [3]:
num_state = np.random.RandomState(100)
num_series = pd.Series(num_state.normal(10, 4, 20))

print(num_series)

result = np.percentile(num_series, q=[0, 25, 50, 75, 100])

print(result)

0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

In [17]:
str1 = 'abc def abcdef icd'

ser = pd.Series(list(str1))

element_freq = ser.value_counts()
print(element_freq)

print("Original series:")
print(str1)

current_freq = element_freq.dropna().index[-1]
result = "".join(ser.replace(' ', current_freq))
print(result)

c    3
     3
d    3
a    2
b    2
e    2
f    2
i    1
Name: count, dtype: int64
Original series:
abc def abcdef icd
abcidefiabcdefiicd