# Write a  Pandas program to import given  excel data (employee.xlsx ) into a Pandas dataframe and find a list of employees where hire_date> 01-01-07.

In [2]:
import pandas as pd
import numpy as np
df = pd.read_excel('employee.xlsx')
df[df['hire_date'] >='20070101']

    emp_id first_name   last_name  hire_date
4      104      Bruce       Ernst 2007-05-21
7      107      Diana     Lorentz 2007-02-07
13     113       Luis        Popp 2007-12-07
19     119      Karen  Colmenares 2007-08-10

# Write a Pandas program to import excel data (employee.xlsx ) into a Pandas dataframe and find a list of employees of a specified year.

In [13]:
import pandas as pd
import numpy as np
df = pd.read_excel('employee.xlsx')
df2 = df.set_index(['hire_date'])
df2
result = df2.loc["2007-12-07"]
result

emp_id         113
first_name    Luis
last_name     Popp
Name: 2007-12-07 00:00:00, dtype: object