In [2]:
import pandas as pd

In [3]:
arrays = [
    ['USA', 'USA', 'Canada', 'Canada'],
    ['New York', 'California', 'Toronto', 'Vancouver']
]

index = pd.MultiIndex.from_tuples(list(zip(*arrays)), names=['Country', 'City'])

df = pd.DataFrame({'Population': [8500000, 4000000, 3000000, 2500000]}, index=index)

print(df)

                    Population
Country City
USA     New York       8500000
        California     4000000
Canada  Toronto        3000000
        Vancouver      2500000

In [9]:
df.loc["USA"]

            Population
City
New York       8500000
California     4000000

In [10]:
df.iloc[0]

Population    8500000
Name: (USA, New York), dtype: int64

In [11]:
df.iloc[3]

Population    2500000
Name: (Canada, Vancouver), dtype: int64

# Write a Pandas program to convert index of a given dataframe into a column.

In [14]:
import pandas as pd
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index = ['t1', 't2', 't3', 't4', 't5', 't6'])

df

   school_code class            name date_of_birth  weight
t1        s001     V  Alberto Franco    15/05/2002      35
t2        s002     V    Gino Mcneill    17/05/2002      32
t3        s003    VI     Ryan Parkes    16/02/1999      33
t4        s001    VI    Eesha Hinton    25/09/1998      30
t5        s002     V    Gino Mcneill    11/05/2002      31
t6        s004    VI    David Parkes    15/09/1997      32

In [15]:
df.reset_index(level=0, inplace=True)
print(df)

  index school_code class            name date_of_birth  weight
0    t1        s001     V  Alberto Franco    15/05/2002      35
1    t2        s002     V    Gino Mcneill    17/05/2002      32
2    t3        s003    VI     Ryan Parkes    16/02/1999      33
3    t4        s001    VI    Eesha Hinton    25/09/1998      30
4    t5        s002     V    Gino Mcneill    11/05/2002      31
5    t6        s004    VI    David Parkes    15/09/1997      32

In [16]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    't_id': ['t1', 't2', 't3', 't4', 't5', 't6']})

In [17]:
df1 = df.set_index(['t_id', 'school_code', 'class'])
df1

                                  name date_of_birth  weight
t_id school_code class
t1   s001        V      Alberto Franco    15/05/2002      35
t2   s002        V        Gino Mcneill    17/05/2002      32
t3   s003        VI        Ryan Parkes    16/02/1999      33
t4   s001        VI       Eesha Hinton    25/09/1998      30
t5   s002        V        Gino Mcneill    11/05/2002      31
t6   s004        VI       David Parkes    15/09/1997      32

In [20]:
df1.loc['t1']

                             name date_of_birth  weight
school_code class
s001        V      Alberto Franco    15/05/2002      35

In [21]:
df1.loc['s001']

KeyError: 's001'

In [22]:
df1.loc[("t1", "s001")]

                 name date_of_birth  weight
class
V      Alberto Franco    15/05/2002      35