# Write a Pandas program that uses MultiIndex to select data based on conditions.

In [1]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'X': [1, 6, 8, 3, 7],
    'Y': [5, 2, 9, 4, 1],
    'Z': ['one', 'one', 'two', 'two', 'one']
})

# Set MultiIndex
df = df.set_index(['Z', 'X'])

# Conditional selection with MultiIndex
result = df.loc[('one', slice(None))]
print(result)

   Y
X
1  5
6  2
7  1

In [2]:
df

       Y
Z   X
one 1  5
    6  2
two 8  9
    3  4
one 7  1

In [3]:
result

   Y
X
1  5
6  2
7  1