In [1]:
import pandas as pd
import numpy as np

# Create a DataFrame and calculate the interquartile range (IQR).

In [2]:
data = np.random.rand(4, 3)
df = pd.DataFrame(data, columns=['X', 'Y', 'Z'])
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1

In [3]:
df

          X         Y         Z
0  0.984354  0.627987  0.746145
1  0.797120  0.613523  0.287954
2  0.171628  0.569272  0.913394
3  0.382796  0.876734  0.213946

In [4]:
IQR

X    0.513924
Y    0.087713
Z    0.518505
dtype: float64

In [5]:
Q1

X    0.330004
Y    0.602460
Z    0.269452
Name: 0.25, dtype: float64

In [7]:
Q3

X    0.843928
Y    0.690174
Z    0.787957
Name: 0.75, dtype: float64

# Create a DataFrame with random values and calculate the rolling median for each group.

In [8]:
data = np.random.rand(10, 3)
df = pd.DataFrame(data, columns=['X', 'Y', 'Z'])
df['Rolling_Median'] = df.groupby('X')['Y'].rolling(window=3).median().reset_index(level=0, drop=True)
df

          X         Y         Z  Rolling_Median
0  0.169706  0.153447  0.107505             NaN
1  0.242188  0.175463  0.198222             NaN
2  0.632960  0.824884  0.773524             NaN
3  0.456407  0.645756  0.421494             NaN
4  0.146471  0.841238  0.106475             NaN
5  0.475650  0.581060  0.943779             NaN
6  0.848670  0.804017  0.875990             NaN
7  0.754482  0.544786  0.634153             NaN
8  0.094930  0.805005  0.877751             NaN
9  0.317486  0.833348  0.859528             NaN