# Functions
## Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.

In [2]:
def sort_hyphen_string(string):
    return "-".join(sorted(string.split("-")))

In [3]:
sort_hyphen_string("green-red-yellow-black-white")

'black-green-red-white-yellow'

## Write a  Python function to multiply all the numbers in a list.

In [7]:
def mul_lst(lst):
    total = 1
    for n in lst:
        total *= n
    return total

In [8]:
mul_lst((8, 2, 3, -1, 7))

-336

# Lambda Function
## Write a Python program to sort a list of tuples using Lambda.

In [11]:
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
sorted(subject_marks, key=lambda x : x[1])

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [12]:
sorted(subject_marks, key=lambda x : x[1], reverse=True)

[('Maths', 97), ('Science', 90), ('English', 88), ('Social sciences', 82)]

In [14]:
r = lambda x, y, z: x*y*z

In [15]:
r(3,6,9)

162

## Write a Python program to find the second lowest total marks of any student(s) from the given names and marks of each student using lists and lambda. Input the number of students, the names and grades of each student.

In [17]:
names_grade = [['S ROY', 1.0], ['B BOSE', 3.0], ['N KAR', 2.0], ['C DUTTA', 1.0], ['G GHOSH', 1.0]]

In [22]:
names_grade = sorted(names_grade, key=lambda x: x[1])

In [24]:
print(f"Lowest Grade: {names_grade[1][1]}")
print(f"Lowest Grade Student Name: {names_grade[1][0]}")

Lowest Grade: 1.0
Lowest Grade Student Name: C DUTTA

# Map 
## Write a  Python program to listify the list of given strings individually using Python map.

In [26]:
color = ['Red', 'Blue', 'Black', 'White', 'Pink']
list(map(list, color))

[['R', 'e', 'd'],
 ['B', 'l', 'u', 'e'],
 ['B', 'l', 'a', 'c', 'k'],
 ['W', 'h', 'i', 't', 'e'],
 ['P', 'i', 'n', 'k']]

## Write a  Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function.

In [31]:
chars = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}
def change_char(char):
    return str(char).lower(), str(char).upper()
list(map(change_char, chars))

[('i', 'I'),
 ('u', 'U'),
 ('o', 'O'),
 ('e', 'E'),
 ('a', 'A'),
 ('f', 'F'),
 ('b', 'B')]

In [33]:
list(map(lambda char: (char.upper(), char.lower()), chars))

[('I', 'i'),
 ('U', 'u'),
 ('O', 'o'),
 ('E', 'e'),
 ('A', 'a'),
 ('F', 'f'),
 ('B', 'b')]

## Write a  Python program to compute the square of the first N Fibonacci numbers, using the map function and generate a list of the numbers.

In [44]:
def fibonacci(n):
    num = [0]
    x = 0
    y = 1
    for i in range(n-1):
        num.append(y)
        x, y = y, x+y
    return num

In [45]:
list(map(lambda x: x**2, fibonacci(10)))

[0, 1, 1, 4, 9, 25, 64, 169, 441, 1156]

# Itertools
##